.table-header {
  --bs-table-bg: #323a42;
  background: #323a42;;
  background-color: #323a42;
  --bs-table-color: white;
  color: white;
}

.td-main {
  --bs-table-bg: white;
  background: white;
}

.td-second {
  --bs-table-bg: floralwhite;
  background: floralwhite;
}