<div class="col-md-6">
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead class="table-header">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Marca</th>
            <th scope="col">Línea</th>
            <th scope="col">Modelo</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let car of cars; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ car?.marca }}</td>
            <td>{{ car?.linea }}</td>
            <td>{{ car?.modelo }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <hr class="col-md-12" />
    <div class="col-md-6" *ngIf="isVisibleTotalBrand">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Marca</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let item of totalBrand; index as i">
            <td>{{ item?.brand }}</td>
            <td>{{ item?.total }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
